@{
	ViewData["Title"] = "Faq Page";
}
Links{
<link rel="stylesheet" href="~/assets/css/faq.css" />
}
<!-- about home start -->
<section class="about-home">
	<div class="about-header">
		<h2>asking question</h2>
		<div>
			<ul>
				<li class="breadcrumb-begin">
					<a href="index.html">home</a>
				</li>
				<li></li>
				<li class="breadcrumb-end">
					<a href="about.html">FAQ</a>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- about  home end -->
<!-- faq area start -->
<section class="faq-accordion">
	<div class="accordion">
		<div class="accordion-item">
			<div class="accordion-header">
				<span>How Does this work?</span>
				<i class="fa-solid fa-chevron-down"></i>
			</div>
			<div class="accordion-content">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
					tenetur labore cum officia modi repellendus minima veniam ullam
					eum? Necessitatibus, molestias eius rerum vel provident magnam non
					explicabo voluptates iste, illo totam labore maiores nihil veniam
					ex at tempora. Distinctio, voluptates odit. Mollitia eaque quae,
					recusandae sequi odit excepturi facilis quod corporis neque
					quisquam ab aut porro eos vero quasi beatae, tenetur saepe! Animi
					laudantium ratione alias, asperiores saepe corrupti?
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<div class="accordion-header">
				<span> Some menus are missing on a coffee shop page? </span>
				<i class="fa-solid fa-chevron-down"></i>
			</div>
			<div class="accordion-content">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
					tenetur labore cum officia modi repellendus minima veniam ullam
					eum? Necessitatibus, molestias eius rerum vel provident magnam non
					explicabo voluptates iste, illo totam labore maiores nihil veniam
					ex at tempora. Distinctio, voluptates odit. Mollitia eaque quae,
					recusandae sequi odit excepturi facilis quod corporis neque
					quisquam ab aut porro eos vero quasi beatae, tenetur saepe! Animi
					laudantium ratione alias, asperiores saepe corrupti?
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<div class="accordion-header">
				<span>How Does this work?</span>
				<i class="fa-solid fa-chevron-down"></i>
			</div>
			<div class="accordion-content">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
					tenetur labore cum officia modi repellendus minima veniam ullam
					eum? Necessitatibus, molestias eius rerum vel provident magnam non
					explicabo voluptates iste, illo totam labore maiores nihil veniam
					ex at tempora. Distinctio, voluptates odit. Mollitia eaque quae,
					recusandae sequi odit excepturi facilis quod corporis neque
					quisquam ab aut porro eos vero quasi beatae, tenetur saepe! Animi
					laudantium ratione alias, asperiores saepe corrupti?
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<div class="accordion-header">
				<span>
					Do any of your cheeses contain enzymes derived from animal
					sources?
				</span>
				<i class="fa-solid fa-chevron-down"></i>
			</div>
			<div class="accordion-content">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
					tenetur labore cum officia modi repellendus minima veniam ullam
					eum? Necessitatibus, molestias eius rerum vel provident magnam non
					explicabo voluptates iste, illo totam labore maiores nihil veniam
					ex at tempora. Distinctio, voluptates odit. Mollitia eaque quae,
					recusandae sequi odit excepturi facilis quod corporis neque
					quisquam ab aut porro eos vero quasi beatae, tenetur saepe! Animi
					laudantium ratione alias, asperiores saepe corrupti?
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<div class="accordion-header">
				<span>
					Are your menu prices the same as those at the Coffee house?
				</span>
				<i class="fa-solid fa-chevron-down"></i>
			</div>
			<div class="accordion-content">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
					tenetur labore cum officia modi repellendus minima veniam ullam
					eum? Necessitatibus, molestias eius rerum vel provident magnam non
					explicabo voluptates iste, illo totam labore maiores nihil veniam
					ex at tempora. Distinctio, voluptates odit. Mollitia eaque quae,
					recusandae sequi odit excepturi facilis quod corporis neque
					quisquam ab aut porro eos vero quasi beatae, tenetur saepe! Animi
					laudantium ratione alias, asperiores saepe corrupti?
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<div class="accordion-header">
				<span> Are your doughs vegan or vegetarian friendly? </span>
				<i class="fa-solid fa-chevron-down"></i>
			</div>
			<div class="accordion-content">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
					tenetur labore cum officia modi repellendus minima veniam ullam
					eum? Necessitatibus, molestias eius rerum vel provident magnam non
					explicabo voluptates iste, illo totam labore maiores nihil veniam
					ex at tempora. Distinctio, voluptates odit. Mollitia eaque quae,
					recusandae sequi odit excepturi facilis quod corporis neque
					quisquam ab aut porro eos vero quasi beatae, tenetur saepe! Animi
					laudantium ratione alias, asperiores saepe corrupti?
				</p>
			</div>
		</div>
	</div>
</section>

<!-- faq area end -->
script{
<script src="~/assets/js/faq.js"></script>

}