@{
	ViewData["Title"] = " Blog Page";
}
link{
<link rel="stylesheet" href="~/assets/css/blog.css" />

}
<!-- about home start -->
<section class="about-home">
	<div class="about-header">
		<h2>Recent Blog</h2>
		<div>
			<ul>
				<li class="breadcrumb-begin">
					<a href="index.html">home</a>
				</li>
				<li></li>
				<li class="breadcrumb-end">
					<a href="about.html">blog</a>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- about  home end -->
<!-- blog area start -->
<section class="blog-area-container">
	<div class="blog-container">
		<div class="blog1">
			<div class="blog-item">
				<div class="item-img">
					<img src="~/assets/images/blog-post-1.jpeg" alt="" />
				</div>
				<div class="item-contact">
					<ul>
						<li>
							<a href="#">
								<i class="fas fa-file"></i>
								Coffee
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-comments"></i>
								30 Comments
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-calendar-alt"></i>
								04th March 2019
							</a>
						</li>
					</ul>
				</div>
				<div class="item-title-about">
					<h2>IDEAL COCKTAILS FROM OUR BARMEN FOR PEFECT MOOD</h2>
					<p>
						Ronec et nibh maximus, congue est eu, mattis nunc. Praesent ut
						quam quis quam venenatis fringilla. Morbi vestibulum <br />
						id tellus mmodo mattis. Aliquam eratb volutpat. Aenean accumsan
						id mi nec semper. Lorem ipsum.
					</p>
				</div>
				<div class="item-btn">
					<button class="btn">Read More</button>
					<div>
						<img src="~/assets/images/blog-author-1.png" alt="" />
						<h4>
							<a href="#"> Rasalina De Wilimson </a>
						</h4>
					</div>
				</div>
			</div>
			<div class="blog-item">
				<div class="item-img">
					<img src="~/assets/images/blog-post-1.jpeg" alt="" />
				</div>
				<div class="item-contact">
					<ul>
						<li>
							<a href="#">
								<i class="fas fa-file"></i>
								Coffee
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-comments"></i>
								30 Comments
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-calendar-alt"></i>
								04th March 2019
							</a>
						</li>
					</ul>
				</div>
				<div class="item-title-about">
					<h2>IDEAL COCKTAILS FROM OUR BARMEN FOR PEFECT MOOD</h2>
					<p>
						Ronec et nibh maximus, congue est eu, mattis nunc. Praesent ut
						quam quis quam venenatis fringilla. Morbi vestibulum <br />
						id tellus mmodo mattis. Aliquam eratb volutpat. Aenean accumsan
						id mi nec semper. Lorem ipsum.
					</p>
				</div>
				<div class="item-btn">
					<button class="btn">Read More</button>
					<div>
						<img src="~/assets/images/blog-author-1.png" alt="" />
						<h4>
							<a href="#"> Rasalina De Wilimson </a>
						</h4>
					</div>
				</div>
			</div>
			<div class="blog-item">
				<div class="item-img">
					<img src="~/assets/images/blog-post-1.jpeg" alt="" />
				</div>
				<div class="item-contact">
					<ul>
						<li>
							<a href="#">
								<i class="fas fa-file"></i>
								Coffee
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-comments"></i>
								30 Comments
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-calendar-alt"></i>
								04th March 2019
							</a>
						</li>
					</ul>
				</div>
				<div class="item-title-about">
					<h2>IDEAL COCKTAILS FROM OUR BARMEN FOR PEFECT MOOD</h2>
					<p>
						Ronec et nibh maximus, congue est eu, mattis nunc. Praesent ut
						quam quis quam venenatis fringilla. Morbi vestibulum <br />
						id tellus mmodo mattis. Aliquam eratb volutpat. Aenean accumsan
						id mi nec semper. Lorem ipsum.
					</p>
				</div>
				<div class="item-btn">
					<button class="btn">Read More</button>
					<div>
						<img src="~/assets/images/blog-author-1.png" alt="" />
						<h4>
							<a href="#"> Rasalina De Wilimson </a>
						</h4>
					</div>
				</div>
			</div>
			<div class="blog-item">
				<div class="item-img">
					<img src="~/assets/images/blog-post-1.jpeg" alt="" />
				</div>
				<div class="item-contact">
					<ul>
						<li>
							<a href="#">
								<i class="fas fa-file"></i>
								Coffee
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-comments"></i>
								30 Comments
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-calendar-alt"></i>
								04th March 2019
							</a>
						</li>
					</ul>
				</div>
				<div class="item-title-about">
					<h2>IDEAL COCKTAILS FROM OUR BARMEN FOR PEFECT MOOD</h2>
					<p>
						Ronec et nibh maximus, congue est eu, mattis nunc. Praesent ut
						quam quis quam venenatis fringilla. Morbi vestibulum <br />
						id tellus mmodo mattis. Aliquam eratb volutpat. Aenean accumsan
						id mi nec semper. Lorem ipsum.
					</p>
				</div>
				<div class="item-btn">
					<button class="btn">Read More</button>
					<div>
						<img src="~/assets/images/blog-author-1.png" alt="" />
						<h4>
							<a href="#"> Rasalina De Wilimson </a>
						</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="blog2">
			<div class="search">
				<h2>Search Here</h2>
				<form>
					<input type="text"
						   name="search"
						   id="search"
						   placeholder="Seach Product" />
					<button>
						<i class="fas fa-search"></i>
					</button>
				</form>
			</div>
			<div class="categories">
				<h2>Categories</h2>
				<ul>
					<li>
						<a href="#">Burger</a>
						<span>04</span>
					</li>
					<li>
						<a href="#">Burger</a>
						<span>04</span>
					</li>
					<li>
						<a href="#">Burger</a>
						<span>04</span>
					</li>
					<li>
						<a href="#">Burger</a>
						<span>04</span>
					</li>
					<li>
						<a href="#">Burger</a>
						<span>04</span>
					</li>
					<li>
						<a href="#">Burger</a>
						<span>04</span>
					</li>
				</ul>
			</div>
			<div class="popular-coffee">
				<h2>Categories</h2>
				<div class="coffee-item-container">
					<div class="item">
						<div class="coffee-img">
							<img src="~/assets/images/b-sm-1.png" alt="" />
						</div>
						<div class="coffee-title">
							<h5>
								<a href="#">10 Reasons To Do A Digital Detox Challenge</a>
							</h5>
							<a href="#">
								<i class="fas fa-calendar-alt"></i>
								24th March 2021
							</a>
						</div>
					</div>
					<div class="item">
						<div class="coffee-img">
							<img src="~/assets/images/b-sm-1.png" alt="" />
						</div>
						<div class="coffee-title">
							<h5>
								<a href="#">10 Reasons To Do A Digital Detox Challenge</a>
							</h5>
							<a href="#">
								<i class="fas fa-calendar-alt"></i>
								24th March 2021
							</a>
						</div>
					</div>
					<div class="item">
						<div class="coffee-img">
							<img src="~/assets/images/b-sm-1.png" alt="" />
						</div>
						<div class="coffee-title">
							<h5>
								<a href="#">10 Reasons To Do A Digital Detox Challenge</a>
							</h5>
							<a href="#">
								<i class="fas fa-calendar-alt"></i>
								24th March 2021
							</a>
						</div>
					</div>
					<div class="item">
						<div class="coffee-img">
							<img src="~/assets/images/b-sm-1.png" alt="" />
						</div>
						<div class="coffee-title">
							<h5>
								<a href="#">10 Reasons To Do A Digital Detox Challenge</a>
							</h5>
							<a href="#">
								<i class="fas fa-calendar-alt"></i>
								24th March 2021
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- blog area end -->
script{
<script src="~/assets/js/blog.js"></script>

}