@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: 0.5s;
  font-family: "Jost", sans-serif;
}
:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --white: #fff;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}
body {
  background: var(--white);
}
section {
  padding: 2rem 7%;
}
.heading {
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}
.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: var(--white);
  background: var(--main-color);
  cursor: pointer;
  border-radius: 5px;
  border: var(--border);
  font-family: Jost, sans-serif;
}
.btn:hover {
  background-color: var(--bg);
  color: var(--white);
}
/* scroll top start */
#progress {
  background-color: #a4a4a4;
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 99;
}
#progress-value {
  display: block;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  background-color: black;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 40px;
  color: var(--white);
}
/* scroll top end */
/* header section start */
header {
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
}
.header .navbar .menu-item a {
  margin: 0 1.8rem;
  font-size: 1.6rem;
  color: var(--bg);
  text-transform: uppercase;
  position: relative;
  padding: 1.6rem 0;
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navbar .menu-item a::before {
  content: "";
  position: absolute;
  top: 1.9rem;
  left: 0px;
  background: non;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}
.header .navbar .menu-item a:hover::before {
  left: -13px;
  background: var(--main-color);
}
.header .navbar .menu-item a:hover {
  color: var(--main-color);
}
.menu-item .sub-menu {
  position: absolute;
  background-color: var(--white);
  top: 75px;
  line-height: 10px;
  border-radius: 8px;
  pointer-events: none;
  transform: translateY(20px);
  opacity: 0;
  text-transform: uppercase;
  padding: 1.2rem 3rem;
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
}
.menu-item:hover .sub-menu {
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}
.sub-menu:hover {
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}

.menu-item .sub-menu .sub-item {
  position: relative;
}
.menu-item .sub-menu .sub-item a {
  color: var(--bg);
  font-size: 1.4rem;
  line-height: 40px;
  font-weight: 500;
}
.menu-item .sub-menu .sub-item a::before {
  content: "";
  position: absolute;
  top: 1.8rem;
  left: 0px;
  background: non;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}
.menu-item .sub-menu .sub-item a:hover::before {
  left: -13px;
  background: var(--main-color);
}
.header .icons div i {
  color: var(--bg);
  cursor: pointer;
  font-size: 2rem;
  margin-left: 2rem;
}
.header .icons {
  display: flex;
}
.header .icons div {
  position: relative;
}
.quantity {
  width: 17px;
  height: 17px;
  font-size: 12px;
  color: var(--white);
  position: absolute;
  top: -2px;
  left: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  line-height: 0;
  background: #80a093;
}
.header .icons div i:hover {
  color: var(--main-color);
}
#menu-btn {
  display: none;
}
.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
}
.header .search-form.active {
  transform: scaleY(1);
}
.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
}
.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
}
.header .search-form label:hover {
  color: var(--main-color);
}
.header .cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  background: #fff;
  padding: 0 1.5rem;
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
}
.header .cart-items-container .sub-total {
  border-top: 1px solid #d8d5d5;
  border-bottom: 1px solid #d8d5d5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
}
.header .cart-items-container .sub-total span {
  color: var(--bg);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.7rem;
}
.header .cart-items-container.active {
  right: 0;
}
.header .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}
.header .cart-items-container .cart-item .fa-times:hover {
  color: var(--main-color);
}
.header .cart-items-container .cart-item img {
  height: 7rem;
}
.header .cart-items-container .cart-item .content h3 {
  font-size: 2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}
.header .cart-items-container .cart-item .content .price {
  font-size: 1.5rem;
  color: var(--main-color);
}
.header .cart-items-container .sub-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .cart-items-container .sub-btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  color: var(--white);
  background: var(--main-color);
  cursor: pointer;
  border-radius: 8px;
  font-family: Jost, sans-serif;
}
.header .cart-items-container .sub-btn:hover {
  background: var(--bg);
  color: var(--white);
}
.responsive-header-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  background: var(--white);
  padding: 1.3rem 2.5rem;
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
}
.responsive-header-container.active {
  right: 0;
}
.responsive-navbar {
  display: flex;
  flex-direction: column;
}
.responsive-navbar .responsive-menu-item a {
  color: var(--bg);
  font-size: 1.7rem;
  line-height: 2.2;
  position: relative;
  font-weight: 650;
}
.responsive-navbar .responsive-menu-item a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  background: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}
.responsive-navbar .responsive-menu-item a:hover::before {
  left: -13px;
  background: var(--main-color);
}
.responsive-navbar .responsive-menu-item a:hover {
  color: var(--main-color);
}

.responsive-menu-item .responsive-sub-menu {
  line-height: 10px;
  border-radius: 8px;
  transform: translateY(0);
  text-transform: uppercase;
  display: none;
  margin-right: 60%;
  margin-bottom: 2rem;
}
.responsive-menu-item:hover .responsive-sub-menu {
  display: inline-block;
  transition: 0.5s;
}

.responsive-sub-menu .responsive-sub-item a {
  font-weight: 500;
}
/* header section end */
/* about home section start  */
.about-home {
  height: 70vh;
  width: 100%;
  background-image: url(/assets/images/pp-bg-3-1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about-home .about-header {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 15px;
}
.about-home .about-header h2 {
  color: #ffffff;
  font-size: 4.6rem;
}
.about-home .about-header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.8rem;
  gap: 10px;
}
.about-home .about-header .breadcrumb-begin a {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
}
.about-home .about-header .breadcrumb-end a {
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
}
/* about home section end */
/* faw area start */
.faq-accordion {
  margin: 5rem 0;
}
.faq-accordion .accordion {
  border: 1px solid #e2dfdd;
  width: 70%;
  margin: 2rem auto;
  border-radius: 7px;
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
  padding: 4rem;
}
.accordion-item {
  border: 1px solid #e2dfdd;
  padding: 1.2rem 2rem;
  margin-top: 3rem;
  border-radius: 7px;
}

.accordion-header {
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1.4rem 1.1rem;
  border-radius: 7px;
}
.accordion-header span {
  font-size: 1.5rem;
  font-weight: 600;
}
.accordion-header i {
  color: var(--bg);
  font-size: 2rem;
}
.accordion-icon {
  font-size: 18px;
  transition: transform 0.2s ease;
}

.accordion-content {
  display: none;
  border: none;
  transition: 0.6s;
}
.accordion-content p {
  color: #6c6c6c;
  padding: 1.4rem;
  font-size: 1.5rem;
  line-height: 2.7rem;
  transition: 0.6s;
}
.accordion-item.active .accordion-content {
  display: block;
}

.accordion-item.active .accordion-header i {
  transform: rotate(180deg);
}

/* faq area end */
/* footer section start */
.footer {
  background-image: url(/assets/images/pp-bg-3-1.jpeg);
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.4rem;
  flex-wrap: wrap;
  gap: 20px;
}
.footer1 .location-address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.footer1 .location-address span {
  font-size: 1.3rem;
  color: var(--white);
}
.footer1 .location-address a {
  color: #a4a4a4;
  font-size: 1.3rem;
}
.footer1 form {
  border-bottom: 1px solid #a4a4a4;
  padding: 1.4rem 1.3rem;
}
.footer1 form input {
  background: transparent;
  color: #a4a4a4;
  border: none;
  margin-right: 1rem;
}
.footer1 form .footer-btn {
  text-transform: uppercase;
  font-size: 12px;
  background: transparent;
  border: none;
  color: var(--white);
}
.footer1 form .footer-btn i {
  color: var(--white);
}
.footer2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer2 .footer2-logo p {
  color: var(--white);
  font-size: 1.5rem;
  margin-top: 1.8rem;
}
.footer2 .footer2-social ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 9rem;
}
.footer2 .footer2-social ul li a i {
  border: 1px solid #888888;
  font-size: 1.4rem;
  color: #888888;
  padding: 1rem;
  border-radius: 5px;
}
.footer2 .footer2-social ul li a i:hover {
  border: 1px solid var(--white);
  color: var(--white);
}
.footer .footer3 {
  margin-top: 3rem;
}
.footer .footer3 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer .footer3 ul li a {
  color: var(--white);
  font-size: 1.9rem;
}
.footer .footer3 ul li a:hover {
  color: var(--main-color);
}
/* footer section end */
/* media queries */

@media (max-width: 1054px) {
  .header .navbar {
    display: none;
  }
  .header #menu-btn {
    display: block;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .header .search-form {
    width: 90%;
    right: 2rem;
  }
  .faq-accordion .accordion {
    width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
