@model HeaderVM
@{
	Layout = null;
	double endTotal = 0;
}

<!-- header section start -->
<header class="header">
	<a href="#" class="logo">
		<img src="~/assets/images/@Model.Settings["HeaderLogo"]" alt="" />
	</a>
	<!-- header navbar -->
	<ul class="navbar">
		<li class="menu-item">
			<a aria-current="page" asp-controller="Home" asp-action="Index">home</a>
		</li>
		<li class="menu-item">
			<a href="About" aria-current="page" asp-controller="About" asp-action="Index">about</a>
		</li>
		<li class="menu-item">
			<a aria-current="page" asp-controller="Menu" asp-action="Index">menu</a>
		</li>
		<li class="menu-item">
			<a aria-current="page" asp-controller="Reservation" asp-action="Index">reservation</a>
		</li>
		<li class="menu-item">
			<a href="#" class="sub-btn">
				pages <i class="fas fa-angle-down"></i>
			</a>
			<ul class="sub-menu">
				<li class="sub-item"><a aria-current="page" asp-controller="Blog" asp-action="Index">blog</a></li>
				<li class="sub-item"><a aria-current="page" asp-controller="Blog" asp-action="Detail">blog detail</a></li>
				<li class="sub-item"><a aria-current="page" asp-controller="Chef" asp-action="Index">chefs</a></li>
				<li class="sub-item"><a aria-current="page" asp-controller="Fag" asp-action="Index">fag</a></li>
			</ul>
		</li>
		<li class="menu-item">
			<a href="#">shop <i class="fas fa-angle-down"></i></a>
			<ul class="sub-menu">
				<li class="sub-item"><a aria-current="page" asp-controller="Shop" asp-action="Index">shop</a></li>
				<li class="sub-item"><a aria-current="page" asp-controller="Shop" asp-action="Detail">shop details</a></li>
				<li class="sub-item"><a aria-current="page" asp-controller="Shop" asp-action="Cart">shop cart</a></li>
				<li class="sub-item"><a aria-current="page" asp-controller="Shop" asp-action="Checkout">shop checkout</a></li>
			</ul>
		</li>
		<li class="menu-item">
			<a aria-current="page" asp-controller="Contact" asp-action="Index">contact</a>
		</li>
	</ul>

	<!-- header icons -->
	<div class="icons">
		<div class="search-btn-icon">
			<i class="fa-solid fa-user" id="search-btn"></i>


			@if (User.Identity.IsAuthenticated)
			{
				<span>@User.Identity.Name</span>
				<a asp-controller="Account" asp-action="Logout">Logout</a>
			}
			else
			{
				<a asp-controller="Account" asp-action="Login">Login</a>
			}
		</div>
		<div>
			<a asp-controller="Shop" asp-action="Cart">
				<i class="fa solid fa-basket-shopping" id="cart-btn"></i>
			</a>
			<span class="quantity">@Model.Count</span>
			<span style="display: none;" class="quantity2">@Model.Count</span>
		</div>

		<div>
			<i class="fas fa-bars" id="menu-btn"></i>
		</div>
	</div>
	<!-- header search -->
	<div class="search-form">
		<input type="text" id="search-box" placeholder="search here...." />
		<label for="search-box" class="fas fa-search"></label>
	</div>
	<!-- header cart items -->
	@*<div class="cart-items-container">
	<div class="product_list">
	</div>
	<div class="sub-total">
	<span> SUB TOTAL:</span>
	<span></span>
	</div>
	<div class="sub-button">
	<a href="#" class="sub-btn">cehckout now</a>
	<a href="#" class="sub-btn">cehckout now</a>
	</div>
	</div>*@
	<div class="responsive-header-container">
		<div>
			<img src="~/assets/images/logo-black.png" alt="" />
		</div>
		<ul>
			<ul class="responsive-navbar">
				<li class="responsive-menu-item">
					<a href="index.html">home</a>
				</li>
				<li class="responsive-menu-item">
					<a href="about.html">about</a>
				</li>
				<li class="responsive-menu-item">
					<a href="menu.html">menu</a>
				</li>
				<li class="responsive-menu-item">
					<a href="reservation.html">reservation</a>
				</li>
				<li class="responsive-menu-item">
					<a href="#" class="sub-btn">
						pages <i class="fas fa-angle-down"></i>
					</a>
					<ul class="responsive-sub-menu">
						<li class="responsive-sub-item">
							<a href="blog.html">blog</a>
						</li>
						<li class="responsive-sub-item">
							<a href="blog-detail.html">blog detail</a>
						</li>
						<li class="responsive-sub-item">
							<a href="chef.html">chefs</a>
						</li>
						<li class="responsive-sub-item"><a href="faq.html">fag</a></li>
					</ul>
				</li>
				<li class="responsive-menu-item">
					<a href="shop.html">shop <i class="fas fa-angle-down"></i></a>
					<ul class="responsive-sub-menu">
						<li class="responsive-sub-item">
							<a href="shop.html">shop</a>
						</li>
						<li class="responsive-sub-item">
							<a href="shop-detail.html">shop details</a>
						</li>
						<li class="responsive-sub-item"><a href="shop-cart.html">shop cart</a></li>
						<li class="responsive-sub-item"><a href="shop-checkout.html">checkout</a></li>
					</ul>
				</li>
				<li class="responsive-menu-item">
					<a href="contact.html">contact</a>
				</li>
			</ul>
		</ul>
	</div>
</header>
<!-- header section end -->
script{
<script src="~/assets/js/shop.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.30/sweetalert2.all.min.js"></script>
}
