@{
	ViewData["Title"] = "Shop Detail";

}
link{
<link rel="stylesheet" href="~/assets/css/shop-detail.css" />

}
<!-- about home start -->
<section class="about-home">
	<div class="about-header">
		<h2>Product Details</h2>
		<div>
			<ul>
				<li class="breadcrumb-begin">
					<a href="index.html">home</a>
				</li>
				<li></li>
				<li class="breadcrumb-end">
					<a href="about.html">products</a>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- about  home end -->
<!-- shop detail area start -->
<section class="shop-detail-area">
	<div class="img-container">
		<div class="big-image">
			<img src="~/assets/images/pp-1.png" alt="" />
		</div>
		<div class="small-image">
			<div class="small-img-item">
				<img src="~/assets/images/pp-1.png" alt="" />
			</div>
			<div class="small-img-item">
				<img src="~/assets/images/pp-3.png" alt="" />
			</div>
			<div class="small-img-item">
				<img src="~/assets/images/pp-1.png" alt="" />
			</div>
			<div class="small-img-item">
				<img src="~/assets/images/pp-2.png" alt="" />
			</div>
		</div>
	</div>
	<div class="text-container">
		<h2 class="title">Americano Coffee Beans</h2>
		<div class="stars">
			<i class="fa-solid fa-star"></i>
			<i class="fa-solid fa-star"></i>
			<i class="fa-solid fa-star"></i>
			<i class="fa-solid fa-star"></i>
			<i class="fa-regular fa-star"></i>
			<span>04 - Customar Review</span>
		</div>
		<p>
			The coffee is brewed by first roasting the green coffee beans over hot
			coals in brazier.Once the beans are roasted each participant is given
			an opportunity to sample The coffee is brewed.
		</p>
		<span>
			<i class="fas fa-check"></i>
			In Stock
		</span>
		<span class="price">$25</span>
		<div class="input-quantity">
			<span>Quantity</span>
			<input type="number" placeholder="1" />
		</div>
		<button class="btn">Add To Cart</button>
	</div>
</section>

<!-- shop detail area end -->
<!-- shop detail cart section start -->
<section class="detail-cart">
	<h2>Related Product</h2>
	<div class="shop-product">
		<div class="shop-item">
			<div class="shop-icons">
				<i class="fas fa-shopping-basket"></i>
				<i class="fas fa-heart"></i>
				<i class="fas fa-eye"></i>
			</div>
			<div class="product-img">
				<img src="~/assets/images/pp-1.png" alt="" />
			</div>
			<div class="title">
				<h4>ROSTED COFFEE</h4>
				<h6>VICARAGUA COFFEE BEANS</h6>
				<span>
					PRICE - $325.00

				</span>
				<div class="stars">
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
				</div>
			</div>
		</div>
		<div class="shop-item">
			<div class="shop-icons">
				<i class="fas fa-shopping-basket"></i>
				<i class="fas fa-heart"></i>
				<i class="fas fa-eye"></i>
			</div>
			<div class="product-img">
				<img src="~/assets/images/pp-1.png" alt="" />
			</div>
			<div class="title">
				<h4>ROSTED COFFEE</h4>
				<h6>VICARAGUA COFFEE BEANS</h6>
				<span>
					PRICE - $325.00

				</span>
				<div class="stars">
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
				</div>
			</div>
		</div>
		<div class="shop-item">
			<div class="shop-icons">
				<i class="fas fa-shopping-basket"></i>
				<i class="fas fa-heart"></i>
				<i class="fas fa-eye"></i>
			</div>
			<div class="product-img">
				<img src="~/assets/images/pp-1.png" alt="" />
			</div>
			<div class="title">
				<h4>ROSTED COFFEE</h4>
				<h6>VICARAGUA COFFEE BEANS</h6>
				<span>
					PRICE - $325.00

				</span>
				<div class="stars">
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
				</div>
			</div>
		</div>
		<div class="shop-item">
			<div class="shop-icons">
				<i class="fas fa-shopping-basket"></i>
				<i class="fas fa-heart"></i>
				<i class="fas fa-eye"></i>
			</div>
			<div class="product-img">
				<img src="~/assets/images/pp-1.png" alt="" />
			</div>
			<div class="title">
				<h4>ROSTED COFFEE</h4>
				<h6>VICARAGUA COFFEE BEANS</h6>
				<span>
					PRICE - $325.00
				</span>

				<div class="stars">
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- shop detail cart section end -->
<!-- modal section start -->
<div id="myModal" class="modal">
	<div class="modal-content">
		<div class="modal-img">
			<img src="~/assets/images/pp-1.png" alt="" />
		</div>
		<div class="modal-text">
			<h2>VICARAGUA COFFEE BEANS</h2>
			<div class="modal-stars">
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
			</div>
			<h3><span>$</span>99.00</h3>
			<h4>Available :<span> In stock</span></h4>
			<p>
				Anlor sit amet, consectetur adipiscing elit. Fusce condimentum est
				lacus, non pretium risus lacinia vel. Fusce eget turpis orci.
			</p>
			<div class="modal-quantity">
				<span>Quantity</span>
				<input type="number" placeholder="1" />
			</div>
			<button class="btn">ADD TO CART</button>
		</div>
		<a href="" class="close"> <i class="fa-solid fa-xmark"></i> </a>
	</div>
</div>
<!-- modal section end -->
script{
<script src="~/assets/js/shop-detail.js"></script>

}