
@{
    ViewData["Title"] = "About Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
links{
<link rel="stylesheet" href="~/assets/css/about.css" />

}
<!-- about home start -->
<section class="about-home">
	<div class="about-header">
		<h2>About Cafena</h2>
		<div>
			<ul>
				<li class="breadcrumb-begin">
					<a href="index.html">home</a>
				</li>
				<li></li>
				<li class="breadcrumb-end">
					<a href="about.html">about us</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="about_body">
		<h1 style="color:sandybrown; text-align:center; font-size:25px;">About</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
			ducimus, porro earum pariatur corrupti totam molestiae,
			repudiandae neque quis necessitatibus omnis velit ea, provident
			illo voluptates reiciendis ipsum et magni! Blanditiis consequatur
			accusantium itaque eveniet esse libero ab suscipit aut tempore
			officia architecto quidem voluptas atque, deleniti voluptatum
			necessitatibus iure!
		</p>
	</div>
</section>
<!-- about  home end -->
<!-- about area start -->

