@model MenuCategory
@{
    ViewData["Title"] = " Menu Category Detail";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-6">
            <h4>Name: @Model.Name</h4>

            <a class="btn btn-info" asp-action="Index">Go Back</a>
        </div>
    </div>
</div>

