@model Contact
@{
    ViewData["Title"] = "Detail";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-6">
            <h4>Full Name: @Model.FullName</h4>
            <h4>Email: @Model.Email</h4>
            <h4>Subject: @Model.Subject</h4>
            <h4>Message: @Model.Message</h4>
            <a class="btn btn-info" asp-action="Index">Go Back</a>
        </div>
    </div>
</div>

